# Deployment
now . --public --target production\
  -e BOT_NAME=WindiBot\
  -e BOT_TOKEN=[MODIFY_HERE]\
  -e JIRA_API_KEY=[MODIFY_HERE]\
  -e JIRA_URL=[MODIFY_HERE]\
  -e OPSGENIE_API_KEY=[MODIFY_HERE]\
  -e PRIVATE_KEY_ID=[MODIFY_HERE]\
  -e SPREADSHEET_ID=[MODIFY_HERE]\
  -e TEAMUP_CALENDAR_KEY=[MODIFY_HERE]\
  -e TEAMUP_API_KEY=[MODIFY_HERE]
deployments=`now ls --all windibot | grep -oP "windibot-[A-Za-z]+\.now\.sh"`
lasturl=`echo $deployments | tail -n 1`
newurl=`echo $deployments | head -n 1`
now alias $newurl windibot
now rm $lasturl --yes

# Attach Webhook
curl -F "url=[MODIFY_HERE]/new-message" https://api.telegram.org/bot[MODIFY_HERE]/setWebhook
response=`curl "[MODIFY_HERE]/healthz"`
if [[ $response == "OK" ]]; then
	echo "Deployed! Dont forget to register the group (/start_group) and add [MODIFY_HERE]/healthz to pinger service (statuscake)!"
	echo ""
else
	echo "Deployment failed!"
fi
