# Deployment
aliashost=`[MODIFY_HERE]`
now . --public --target production\
  -e BOT_NAME=WindiBot\
  -e BOT_TOKEN=[MODIFY_HERE]\
  -e JIRA_API_KEY=[MODIFY_HERE]\
  -e JIRA_URL=[MODIFY_HERE]\
  -e OPSGENIE_API_KEY=[MODIFY_HERE]\
  -e PRIVATE_KEY_ID=[MODIFY_HERE]\
  -e SPREADSHEET_ID=[MODIFY_HERE]\
  -e TEAMUP_CALENDAR_KEY=[MODIFY_HERE]\
  -e TEAMUP_API_KEY=[MODIFY_HERE]
deployments=`now ls --all windibot | grep -oP "windibot-[A-Za-z]+\.now\.sh"`
lasturl=`echo $deployments | cut -d' ' -f2`
newurl=`echo $deployments | cut -d' ' -f1`
if [[ -z $deployments ]]; then
  echo "Deployment failed!"
  exit 1
fi
now scale $newurl all 1
now alias $newurl windibot
if [[ $lasturl != $newurl ]]; then
  now rm $lasturl --yes
fi

# Attach Webhook
curl -F "url=$aliashost/new-message" https://api.telegram.org/bot[MODIFY_HERE]/setWebhook
response=`curl "$aliashost/healthz"`
if [[ $response == "OK" ]]; then
	echo "Deployed! Dont forget to register the group (/start_group) and add $aliashost/healthz to pinger service (statuscake)!"
	echo ""
else
	echo "Deployment failed!"
fi
